@model List<Post>

<h1>LFG Posts</h1>

<table class="table table-dark table-hover">
    
</table>

@foreach (Post post in Model)
{
    <div class="card shadow rounded bg-dark mx-auto w-75 mb-3 border border-secondary p-2 border-opacity-75">
        <div>
            @if (post.GroupType == "LFG")
            {
                <h4 class="card-title bg-gradient text-center bg-dark text-light py-2 rounded-top">
                    LFG for @post.GameActivity - posted by @post.Author.DisplayName
                </h4>
            }
            else
            {
                <h4 class="card-title bg-gradient text-center bg-dark text-light py-2 rounded-top">
                    LFM for @post.GameActivity - posted by @post.Author.DisplayName
                </h4>
            }
        </div>
        

        <div class="card-body">
            <p class="card-text">@post.Description</p>
            <ul>
                @* @foreach (GroupMember player in post.GroupPlayers)
                {
                    <li>@player.User.DisplayName</li>
                } *@
            </ul>
            @* <div>
                @if (post.MicRequired == true)
                {
                    <p class="card-text">Mic Required</p>
                }
                else
                {
                    <p class="card-text">Mic Not Required</p>
                }
            </div> *@
            <small class="text-muted">Posted on: @post.CreatedAt</small>
        </div>

    </div>
}